[user]
    name = koshikawa
    email = koshikawa@ppworks.jp
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[github]
    user = ppworks
[alias]
    st = status -s -b
    ll = log --graph --pretty --decorate
    df = diff --staged
