[core]
    editor = vim
    pager = less -R
[user]
    name = koshikawa
    email = koshikawa@ppworks.jp
[color]
    ui = auto
[github]
    user = ppworks
[alias]
    a = add 
    co = checkout
    st = status -s -b
    ll = log --graph --decorate --date=short --pretty
    ln = log --graph --decorate --date=short --pretty --name-status
    stat = log --stat --summary
    wh = whatchanged
    df = diff 
    ds = diff --staged
    gr = grep -n
    rank = shortlog -s -n --no-merges
    amend = commit --amend
    ammend = amend
[rebase]
    autosquash = true
[diff]
    algorithm = histogram
