[core]
    editor = vim
    pager = less -R
    excludesfile = /Users/koshikawa/.gitignore
[user]
    name = ppworks
    email = naoto5959@gmail.com
[color]
    ui = auto
[alias]
    a = add
    co = checkout
    st = status -s -b
    ll = log --graph --decorate --date=short --pretty
    ln = log --graph --decorate --date=short --pretty --name-status
    stat = log --stat --summary
    df = diff
    ds = diff --staged
    gr = grep -n
    rank = shortlog -s -n --no-merges
    amend = commit --amend
    ammend = amend
    sync = !default_branch=$(git remote show origin | awk '/HEAD branch/ {print $NF}') && git switch $default_branch && git pull --rebase origin $default_branch && git branch --merged | grep -v $default_branch | xargs -r git branch -d && git fetch --prune && git switch -
[rebase]
    autosquash = true
    autostash = true
[diff]
    algorithm = histogram
    colorMovedWS = ignore-space-change
[pager]
    branch = cat
    status = cat
[push]
    default = current
    autoSetupRemote = true
[pull]
    default = current
[branch]
    sort = -committerdate
